/* GLOBALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.chevron {
  padding-left: 20px;
}

.check {
  margin-right: 10px;
  color: #FE7759;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.shadow {
  box-shadow: 2px 2px 5px #E6ECF0, -2px -2px 5px #E6ECF0 ;
}

p.description-medium {
  font-size: .9em;
  line-height: 200%;
  word-spacing: 1px;
  margin-bottom: 50px;
}

p.description-small {
  font-size: .8em;
  word-spacing: 1px;
  margin-top: 50px;
}

li a {
  text-decoration: none;
  color: #32495B;
}

h1, h2, h3, h4 {
  margin-bottom: 30px;
  font-weight: 600;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}

/* BUTTONS */
.btn {
  background-color: #FE7759;
  border: 1px solid #FE7759;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

.btn-large {
  padding: 20px;
}

#login {
  background-color: #FAFCFE;
  color: #FE7759;
}

/* CONTAINERS */
.container-70 {
  height: 100%;
  padding: 0 15%;
}

.container-60 {
  height: 100%;
  padding: 0 20%;
}

/* HEADER */

/* NAV */
nav.menu {
  height: 80px;
  line-height: 80px;
}

nav.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
}

nav.non-fixed {
  margin-top: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu.dropdown-content {
  position: absolute;
  left: 0;
  bottom: -300px;
  display: none;
  z-index: 6;
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  width: 100px;
  line-height: 10px;
}

.lang .dropdown-content .square {
  position: absolute;
  top: -10px;
  right: 30px;
  z-index: 6;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #FFFFFF;
  border-left: 1px solid #CECECE;
  border-top: 1px solid #CECECE;
}

.dropdown-content li {
  width: 100%;
  padding: 15px;
}

.lang .dropdown-content li a {
  color: #000000;
  font-weight: 600;
}

.dropdown-container {
  width: 600px;
}

.about.dropdown-content {
  position: absolute;
  right: 0;
  display: block;
  z-index: 5;
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  line-height: 10px;
  text-align: left;
  padding: 30px;
}

.menu-right .dropdown-content .square {
  position: absolute;
  top: -15px;
  right: 30px;
  z-index: 6;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #FFFFFF;
  border-left: 1px solid #CECECE;
  border-top: 1px solid #CECECE;
}

.about.dropdown-content .news {
  margin:0 20px;
}

.menu-right .about.dropdown-content li {
  padding-left: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu li {
  list-style: none;
  display: inline-block;
  font-size: .9em;
  padding-right: 20px;
}

.vertical-menu {
  text-align: left;
  margin-bottom: 70px;
}

nav .menu-right li {
  position: relative;
  padding-right: 0;
  padding-left: 20px;
}

nav.menu .lang .chevron {
  padding-left: 5px;
  padding-right: 20px;
  border-right: 2px solid #899398;
}

nav.menu .logo {
  display: inline-block;
  padding: 10px 0;
}

#search {
  color: #05A3BD;
  font-size: 0.9em;
}

/* JUMBOTRON */
header .jumbotron {
  position: relative;
  height: 690px;
  /* overflow: hidden; */
  /* border-bottom: 3px solid #33475B; */
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
}

.jumbotron::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  content: '';
  width: 100vw;
  min-height: 80px;
  background-color: #B0EBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.jumbotron .jumbo-text {
  position: absolute;
  height: 90%;
  padding-left: 15%;
  top: 50px;
}

.jumbotron .jumbo-text h1 {
  font-size: 3em;
}

/* MAIN */

/* INFO */
main {
  background-color: #F4F9FD;
}

main .first-info {
  height: 400px;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

main .first-info img {
  height: 150px;
}

main .first-info h2 {
  font-size: 1.8em;
}

/* FEATURES */
main .features {
  height: 1100px;
  /* background-color: brown; */
}

.features .main-feature {
  height: 340px;
  width: 100%;
  margin-top: 30px;
  background-color: #FFFFFF;
}

.features .main-feature .left-side {
  height: 100%;
  width: 25%;
  text-align: center;
  margin: 0 30px;
  overflow: hidden;
}

.features .main-feature .left-side img {
  margin: 50px;
}

.features img {
  height: 100px;
  margin: 20px 0;
}

.features .main-feature .right-side {
  height: 100%;
  width: 60%;
  margin: 0 30px;
  padding: 50px 0;
}

.features .main-feature .right-side .description-medium {
  min-height: 50px;
  margin-bottom: 30px;
}

.features h4 {
  position: relative;
  text-transform: uppercase;
  padding-top: 30px;
}

.features .marketing,
.features .sales,
.features .services {
  text-align: center;
  background-color: #FFFFFF;
  min-height: 660px;
  margin: 50px 0;
  padding: 0 20px;
}

.features .description-medium {
  min-height: 140px;
}

.features h4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #899398;
}

.features .sales {
  margin: 50px 5%;
}

/* SECOND INFO */
main .second-info {
  height: 600px;
  background-image: linear-gradient(90deg, #00AAB8, #02BBA8);
  text-align: center;
  color: #FFFFFF;
  padding-top: 50px;
}
.second-info .table .cell {
  height: 150px;
  min-height: 150px;
  padding: 15px 30px;
}

.second-info .table .cell .bold {
  font-size: 2em;
  font-weight: 800;
  margin: 15px 0;
}

.second-info .table .cell .bold::after {
  content: '+';
  font-weight: 400;
}

.second-info .table .cell .description-small {
  margin-top: 15px;
}

.second-info .table .cell:not(:nth-child(4n+0)) {
  border-right: 1px solid #FFFFFF;
}

.second-info .table .cell:nth-child(n+5) {
  border-top: 1px solid #FFFFFF;
}

/* CUSTOMERS */
main .customers {
  position: relative;
  height: 250px;
  padding-top: 50px;
}

main .customers .customers-text {
  display: inline-block;
}

main .customers .customers-text h2 {
  font-size: 2.3em;
}

main .customers .menu {
  max-height: 120px;
  width: 70%;
  line-height: 60px;

}

main .customers img {
width: 100px;
vertical-align: middle;
}

/* START */
main .start {
  height: 400px;
  padding-top: 50px;
}

main .start .start-img img {
  width: 50%;
}

main .start h2 {
  text-transform: capitalize;
}

/* FOOTER */
footer {
  min-height: 620px;
  background-color: #32495B;
}

footer .footer-col {
  padding: 50px 10px 0 10px;
  color: #FFFFFF;
  overflow: hidden;
}

footer .footer-col li {
  width: 100%;
  padding: 10px 0;
}

footer li a {
  font-size: .8em;
  color: #CED9E5;
  width: 100%;
  height: 100%;
}

footer li a:hover {
  color: #00AAB8;
}

#contact {
  background-color: #FAFCFE;
  border: 1px solid #FAFCFE;
  color: #32495B;
  
}

footer .footer-col .icons-menu {
  margin-top: 10px;
}

footer .footer-col .icons-menu li {
  width: 18%;
}

footer .languages {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #CED9E5;
}

footer .credits-left img {
  height: 25px;
  fill:#CED9E5;
}

footer .credits-left p {
  font-size: .8em;
  color: #FFFFFF;
}